

<!--顶部导航-->

    <%- include header.ejs %>

    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Hello, <%= userInfo.username %></h1>
            <p>欢迎进入我的博客后台管理！</p>
        </div>
    </div>
</body>
</html>