<div class="ui modal login">
      <div class="content">
        <form class="ui form login">
            <div class="field">
                <label>账号</label>
                <input type="text" name="username" placeholder="账号">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="password" name="password" placeholder="密码">
            </div>
            <div class="ui error message"></div>
            <button class="ui button" type="submit">登陆</button>
        </form>
      </div>
    </div>